* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

html {
  scroll-behavior: smooth;
}

section {
  width: 100%;
  height: 100vh;
  background-image: url("../assets/bg1.jpg");
}

section nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  right: 0;
  left: 0;
  background: rgb(242, 242, 242);
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

section nav .logo img {
  width: 100px;
  cursor: pointer;
  margin: 7px 0;
}

section nav ul {
  list-style: none;
}

section nav ul li {
  display: inline-block;
  margin: 0 15px;
}

section nav ul li a {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 20px;
  transition: 0.1s;
}

section nav ul li a::after {
  content: "";
  width: 0;
  height: 2px;
  background: #fac031;
  display: block;
  transition: 0.2s linear;
}

section nav ul li a:hover::after {
  width: 100%;
}

section nav ul li a:hover {
  color: #fac031;
}

section nav .icon i {
  font-size: 18px;
  color: #000;
  margin: 0 5px;
  cursor: pointer;
  transition: 0.3s;
}

section nav .icon i:hover {
  color: red;
}

/*About*/
.about {
  width: 100%;
  height: 100vh;
  padding: 70px 0;
}

.about .about-main {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.about .about-main .image img {
  width: 800px;
  position: relative;
  top: 60px;
}

.about .about-main .about-text h1 span {
  color: #fac031;
  margin-right: 15px;
  font-family: mv boli;
}

.about .about-main .about-text h1 {
  font-size: 55px;
  position: relative;
  bottom: 50px;
}

.about .about-main .about-text h3 {
  font-size: 35px;
  position: relative;
  bottom: 15px;
  font-family: cursive;
}

.about .about-main .about-text p {
  font-size: 20px;
  margin-right: 30px;
}

/* Footer */

footer {
  width: 100%;
  padding: 30px 0 0 20px;
  background: #eeeeee;
}

footer .footer-main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

footer .footer-main .footer-tag {
  text-align: center;
}

footer .footer-main .footer-tag h2 {
  color: #000;
  margin-bottom: 25px;
  font-size: 25px;
  font-family: cera;
}

footer .footer-main .footer-tag p {
  margin: 10px 0;
}

footer .footer-main .footer-tag p a {
  margin: 10px 0;
  text-decoration: none;
}

footer .footer-main .footer-tag i {
  margin: 0 5px;
  cursor: pointer;
  font-size: 30px;
}

footer .footer-main .footer-tag i:hover {
  color: blue;
}

footer .end {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

footer .end span {
  color: red;
  margin-left: 10px;
}
